$pink-color: #ff00cd;

.search-container{
    padding-top: 20px;
    display: flex;
    align-items: center;
}

input{
    background-image: linear-gradient(to right, hsl(227,60,22), hsl(225,55,24), hsl(225,53,24), hsl(225,53,25), hsl(224,51,25));
    border: none;
    caret-color: $pink-color;
    font-size: 15px;
    height: 30px;
    outline: none;
    padding: 20px;
}

input::placeholder{
    color: whitesmoke;
}